<div>
    <img src ={{flags.png}} width = 90px></img><h1>{{ name.official}}</h1>
    <li>Capital: {{ capital }}</li>
    <li>Population: {{ population }}</li>
    <li>Languages: {{#each languages}}{{ this }} {{/each}}</li>
    </div>